.cart-counter {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  color: #333333;
  text-align: center;
  top: 1px;
  left: 30px;
  line-height: 20px;
  font-size: 12px;
}

.is-tab {
  border-bottom-color: red !important;
}
